.trend-chart-container {
    outline: 1px solid #F00;
}

.inner-g {
    //
}

.line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
}

.line-1 {
    stroke: #F00;
}

.line-2 {
    stroke: #0F0;
}

.line-3 {
    stroke: #00F;
}

.legend-border {
    stroke: #000;
    stroke-width: 2;
    fill: none;
}
